html
{
    /*background-color: paleturquoise;*/
    background-image: url(assets/Background.png);
}
#main
{
    position: relative;
    margin: 0 auto;
    width: 750px;
    height: 915px;
    border: 1px solid black;
    background-color: burlywood;
    box-sizing: border-box;
}
#main #trzy
{
    width: 50px;
    height: 25px;
    margin-left: 246px;
    margin-top: 4px;
}
#main #blokadaTrzy
{
    position: absolute;
    width: 50px;
    height: 25px;
    left: 246px;
    top: 4px;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: -1;
}
#main #cztery
{
    width: 50px;
    height: 25px;
    margin-left: 10px;
    margin-top: 4px;
}
#main #blokadaCztery
{
    position: absolute;
    width: 50px;
    height: 25px;
    left: 310px;
    top: 4px;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: -1;
}
#main #piec
{
    width: 50px;
    height: 25px;
    margin-left: 12px;
    margin-top: 4px;
}
#main #blokadaPiec
{
    position: absolute;
    width: 50px;
    height: 25px;
    left: 376px;
    top: 4px;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: -1;
}
#main #szesc
{
    width: 50px;
    height: 25px;
    margin-left: 10px;
    margin-top: 4px;
}
#main #blokadaSzesc
{
    position: absolute;
    width: 50px;
    height: 25px;
    left: 440px;
    top: 4px;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: -1;
}
#main #plansza
{
    width: 602px;
    height: 602px;
    margin: 0 auto;
    margin: 157px 74px 0 74px;
    border: 1px solid black;
    background-color: floralwhite;
    box-sizing: border-box;
    z-index: 2;
}
#main #blokada
{
    position: absolute;
    background-color: rgba(50, 50, 50, 0.5);
    width: 602px;
    height: 602px;
    z-index: -1;
    top: 186px;
    left: 74px;
}
#main #blokadaLeft
{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 230px;
    top: 71px;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
}
#main #blokadaRight
{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 442px;
    top: 71px;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
}
#imgShower
{
    position: absolute;
    width: 128px;
    height: 128px;
    border: 1px solid black;
    top: 39px;
    left: 303px;
    overflow: hidden;
}
.imgHolder
{
    width: 1664px;
    height: 128px;
}
.imgHolder img:first-of-type
{
    margin-left: 0px;
}
.imgHolder img
{
    margin-left: -4px;
}

.klocek
{
    display: block;
    float: left;
    overflow: hidden;
    border: 1px solid black;
    box-sizing: border-box;
    z-index: 3;
}
.klocek_i
{
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 3;
}